<%= form_for(guchi) do |f| %>
  <% if guchi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guchi.errors.count, "error") %> prohibited this guchi from being saved:</h2>

      <ul>
      <% guchi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12" >

  <div class="field col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= f.label :title,:style =>"text-align:center;color:#f4d30f;"  %>

    <%= f.text_field :name,:style =>"display:block; margin-left:auto; margin-right:auto; height:40px;  font-family: monospace;" %>
  </div>

  <div class="field col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= f.label "Claim",:style =>"text-align:center; color:#f4d30f;" %>
    <%= f.text_area :text,:style =>"display:block; margin-left:auto; margin-right:auto; height:60px; max-height:60px; width:300px; max-width:300px;  font-family: monospace;" %>
  </div>

  <div class="actions col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center; color:white;" >
  <%= f.button "Guchiru",style:"height:40px; width:80px; background:#f4d30f;border-radius:10px; " %>
  </div>
  </div>
<% end %>
