<p id="notice"><%= notice %></p>

<div class="row">

<thead>
  <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12" >
    <h1 style=" text-align:center;  font-family: monospace; color:tomato;">Guchies</h1>
  </div>
<thead>
  <tr>
    <th colspan="3"></th>
    <% @guchis.each do |guchi| %>
  </tr>
</thead>
<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class=" col-xs-12 col-sm-12 col-md-3 col-lg-3" style="">
  </div>
  <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div  style=" box-shadow:1px 10px 10px 5px #d3d3d1;">
      <div style=" margin-top:40px; list-style:none; display:block; text-align:center; font-size:20px; border:1px solid tomato;">
        TITLE: <%= guchi.name %><br>
        CONTENT:<%= guchi.text %>
        <div style="color:white; height:30px; background:tomato;">
          <p style="line-height:30px;">
            <!--<%= link_to 'Show', guchi,:style =>"text-align:left; margin-left:20px; color:white; " %>
            <%= link_to 'Edit', edit_guchi_path(guchi),:style =>" margin-left:5px; color:white;"  %>-->
            <%= link_to 'Destroy', guchi, method: :delete, data: { confirm: 'Are you sure?' },:style =>"float:right;  color:white; margin-right:20px; font-size:15px;" %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class=" col-xs-12 col-sm-12 col-md-3 col-lg-3" style="">
  </div>
</div>
<% end %>
<br>
<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center; margin-top:50px;" ></div>
 </div>